body {
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.car-option {
  width: 85px;

}

.car-selected {
  width: 118px;

}


.perfil-option {
  width: 70px;

}

.perfil-selected {
  width: 90px;

}

.list-players {
  width: 40px;
}

.online{
  width: 10px;
  margin-top: 30px;

}

.player {
  border-bottom: 1px #d8e2ef solid;
  padding: 10px;
  
}

.delete {
  color: red;
}

.flag {
  width: 120px;
}

button {
  margin-top: 28px;
  color: #ffff !important;
}

.container{
  margin-top: 40px;
}

.progress {
  margin-top: 10px;
}

.game-over{
  width: 200px;
  height: 120px;
}